Repository hjorslev/SteamPS: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/CI.yml, azure-pipelines.yml

.azure-pipelines/CI.yml:

trigger:
  branches:
    include:
      - master
  paths:
    exclude:
      - .github/*
      - .vscode/*
      - docs/*
      - appveyor.yml
      - CHANGELOG.md
      - CONTRIBUTING.md
      - README.md
      - .editorconfig
      - azure-pipelines.yml
  tags:
    exclude:
      - v*

pr:
  - master

variables:
  ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
    Trigger: "$(SourceBranchName)"
  ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
    Trigger: "PR #$(System.PullRequest.PullRequestNumber)"

name: "$(BuildID)-$(Date:yyyy-MM-dd)$(Rev:.r) $(TeamProject) (${{ variables.Trigger }})"

stages:
  - stage: Test
    env:
      SteamWebAPI: $(SteamAPI)
    jobs:
      - job:
        strategy:
          matrix:
            Windows_Server2016_PowerShell_Core:
              vmImage: vs2017-win2016
            Windows_Server2019_PowerShell_Core:
              vmImage: windows-2019
        pool:
          vmImage: $[ variables['vmImage'] ]
        steps:
          - template: templates/test-pwsh.yaml
      - job:
        strategy:
          matrix:
            Windows_Server2016_PowerShell_5_1:
              vmImage: vs2017-win2016
              pwsh: false
            Windows_Server2019_PowerShell_5_1:
              vmImage: windows-2019
              pwsh: false
        pool:
          vmImage: $[ variables['vmImage'] ]
        steps:
          - template: templates/test-powershell.yaml

azure-pipelines.yml:

trigger:
  branches:
    include:
      - master
  paths:
    exclude:
      - .vscode/*
      - appveyor.yml
      - CHANGELOG.md
      - CONTRIBUTING.md
      - README.md
      - .editorconfig
      - azure-pipelines.yml
  tags:
    exclude:
      - v*

pr:
  - master

stages:
  - stage: Windows_Tests_PS
    displayName: "Windows - PS"
    dependsOn: []
    jobs:
      - job: PesterTests
        pool:
          vmImage: windows-latest
        steps:
          - powershell: |
              Install-Module -Name InvokeBuild -Force
              Install-Module -Name PSDepend -Force
              Invoke-PSDepend -Force
              Invoke-Build
            displayName: "Build and Test - Windows PowerShell"
          - task: PublishTestResults@2
            inputs:
              testRunner: "NUnit"
              testResultsFiles: "**/testResults.xml"
              testRunTitle: "ps_winLatest"
  - stage: Windows_Tests_PWSH
    displayName: "Windows - PWSH"
    dependsOn: []
    jobs:
      - job: PesterTests
        pool:
          vmImage: windows-latest
        steps:
          - pwsh: |
              Install-Module -Name InvokeBuild -Force
              Install-Module -Name PSDepend -Force
              Invoke-PSDepend -Force
              Invoke-Build
            displayName: "Build and Test - Windows PWSH"
          - task: PublishTestResults@2
            inputs:
              testRunner: "NUnit"
              testResultsFiles: "**/testResults.xml"
              testRunTitle: "pwsh_winLatest"

:green_heart: Fix SteamWebAPI env var
  .azure-pipelines/CI.yml
  .azure-pipelines/templates/test-powershell.yaml
  .azure-pipelines/templates/test-pwsh.yaml
Due: .azure-pipelines/CI.yml, azure-pipelines.yml

:green_heart: [skip ci]
  appveyor.yml
Due: none

:green_heart: Fix SteamWebAPI env var (#34)
  .azure-pipelines/templates/test-powershell.yaml
  .azure-pipelines/templates/test-pwsh.yaml
  appveyor.yml
Due: .azure-pipelines/CI.yml, azure-pipelines.yml

:recycle: Write error instead of throwing it
  SteamPS/Public/Server/Get-SteamServerInfo.ps1
Due: .azure-pipelines/CI.yml, azure-pipelines.yml

:recycle: Change log provider to PSFramework
  CHANGELOG.md
  SteamPS/Public/Server/Update-SteamServer.ps1
  SteamPS/SteamPS.psd1
Due: .azure-pipelines/CI.yml, azure-pipelines.yml

:bug: Install PSFramework as a dependency
  SteamPS.depend.psd1
  SteamPS/Public/Server/Update-SteamServer.ps1
Due: .azure-pipelines/CI.yml, azure-pipelines.yml

:art: Make errors silent
  SteamPS/Public/Server/Update-SteamServer.ps1
Due: .azure-pipelines/CI.yml, azure-pipelines.yml

:bug: Handle update flow if server is offline
  SteamPS/Public/Server/Update-SteamServer.ps1
Due: .azure-pipelines/CI.yml, azure-pipelines.yml

:pencil: Keep changelog up to date
  CHANGELOG.md
Due: none

:recycle: Better handling of logging (#36)
  CHANGELOG.md
  SteamPS.depend.psd1
  SteamPS/Public/Server/Get-SteamServerInfo.ps1
  SteamPS/Public/Server/Update-SteamServer.ps1
  SteamPS/SteamPS.psd1
Due: .azure-pipelines/CI.yml, azure-pipelines.yml

:bug: Change so SteamCMD does not validate as default
  SteamPS/Public/Server/Update-SteamApp.ps1
Due: .azure-pipelines/CI.yml, azure-pipelines.yml

:construction_worker: Standardize Azure Pipelines and AppVeyor
  .azure-pipelines/CI.yml
  .azure-pipelines/templates/test-powershell.yml
  .azure-pipelines/templates/test-pwsh.yml
  appveyor.yml
Due: .azure-pipelines/CI.yml, azure-pipelines.yml

:bug: Remove the validate parameter when calling SteamCMD (#37)
  CHANGELOG.md
  SteamPS/Public/Server/Update-SteamApp.ps1
Due: .azure-pipelines/CI.yml, azure-pipelines.yml

:page_facing_up: Update name
  LICENSE.md
Due: .azure-pipelines/CI.yml, azure-pipelines.yml

:pencil: Update documentation for new version
  CHANGELOG.md
  README.md
Due: none

:pencil: Add version date
  CHANGELOG.md
  appveyor.yml
Due: none

:pencil: Add version date
  CHANGELOG.md
Due: none

:pencil2: Fix typos
  CHANGELOG.md
Due: none

:rocket: (!deploy !ver:MINOR) Publish v.3.2.0 (#38)
  CHANGELOG.md
  README.md
  appveyor.yml
Due: none

:rocket: [skip ci] Update version to 3.2.0
  SteamPS/SteamPS.psd1
  SteamPS/en-US/SteamPS-help.xml
  appveyor.yml
  docs/CHANGELOG.md
  docs/Connect-SteamAPI.md
  docs/Find-SteamAppID.md
  docs/Get-SteamFriendList.md
  docs/Get-SteamNews.md
  docs/Get-SteamPlayerBan.md
  docs/Get-SteamPlayerSummary.md
  docs/Get-SteamServerInfo.md
  docs/Install-SteamCMD.md
  docs/Resolve-VanityURL.md
  docs/Update-SteamApp.md
  docs/Update-SteamServer.md
  docs/index.md
Due: .azure-pipelines/CI.yml, azure-pipelines.yml

:white_check_mark: Mock response in Find-SteamAppID
  Tests/SteamAPI.Tests.ps1
  Tests/assets/applist.json
Due: .azure-pipelines/CI.yml, azure-pipelines.yml

:white_check_mark: Add Pester tests for Web API cmdlets
  Tests/SteamAPI.Tests.ps1
  Tests/data/applist.json
  Tests/data/appnews.json
  Tests/data/friendlist.json
  Tests/data/playerban.json
  Tests/data/playersummary.json
Due: .azure-pipelines/CI.yml, azure-pipelines.yml

:white_check_mark: Mock Steam Web API key
  Tests/SteamAPI.Tests.ps1
Due: .azure-pipelines/CI.yml, azure-pipelines.yml

:white_check_mark: Fix setup scriptblock
  Tests/SteamAPI.Tests.ps1
Due: .azure-pipelines/CI.yml, azure-pipelines.yml

:white_check_mark: Struggling with Pester scopes
  Tests/SteamAPI.Tests.ps1
Due: .azure-pipelines/CI.yml, azure-pipelines.yml

:white_check_mark: Getting those scopes to work
  Tests/SteamAPI.Tests.ps1
Due: .azure-pipelines/CI.yml, azure-pipelines.yml

:white_check_mark: Working on scopes
  Tests/SteamAPI.Tests.ps1
Due: .azure-pipelines/CI.yml, azure-pipelines.yml

:white_check_mark: Discovery region
  Tests/SteamAPI.Tests.ps1
Due: .azure-pipelines/CI.yml, azure-pipelines.yml

:white_check_mark: Update scope...
  Tests/SteamAPI.Tests.ps1
Due: .azure-pipelines/CI.yml, azure-pipelines.yml

:poop: Hopefully this fixes the mocking of the API
  Tests/SteamAPI.Tests.ps1
Due: .azure-pipelines/CI.yml, azure-pipelines.yml

:poop: Reverting to older attempt
  Tests/SteamAPI.Tests.ps1
Due: .azure-pipelines/CI.yml, azure-pipelines.yml

fix issue with Valheim server
  CHANGELOG.md
  SteamPS/Private/Server/Get-PacketString.ps1
Due: .azure-pipelines/CI.yml, azure-pipelines.yml

:memo: [skip ci] Add links to GH issues
  CHANGELOG.md
Due: none

:construction_worker: [skip ci] Change stale inactivity period
  .github/stale.yml
Due: azure-pipelines.yml

:green_heart: Update API key to PowerShell Gallery
  appveyor.yml
Due: none

:green_heart: Update API key to PowerShell Gallery (#43)
  appveyor.yml
Due: none

:rocket: (!deploy) fix issue with Valheim server (#42)
  .github/stale.yml
  CHANGELOG.md
  SteamPS/Private/Server/Get-PacketString.ps1
Due: .azure-pipelines/CI.yml, azure-pipelines.yml

:memo: Add date to entry in changelog
  CHANGELOG.md
Due: none

:memo: Add date to entry in changelog (#44)
  CHANGELOG.md
Due: none
